# Libraries and data loading

We will first load all the necessary libraries and the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn import preprocessing
import numpy as np
plt.rc("font", size=14)

In [2]:
# We now load the data
traindf = pd.read_csv('train.csv')  # load the training data
testdf = pd.read_csv('test.csv')  # load the training data

# Imputation of missing data

Let's check what is missing:

In [3]:
traindf.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
testdf.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

First we will impute the Age column with mean values. If we don't round the numbers to one decimal point there are too many decimal points which add no new knowledge to the age yet if we are working with very large data frames might pose an problem for speed. Ask Danny if this is true.

Next, let's explore the Cabin column. This is not a numeric value so using mean or median as an imutation value is meaningless. We can try a random sample from the existing cabin value or something else. 
One option is to use the most common cabin designation. Considering there are many types it might be appropriate to use Unknown. This way we are not forcing anything on the data.

In [5]:
def imputeNumerical(dfName, colName):
    missing_col = [colName]
    #Technique 1: Using mean to impute the missing values
    for i in missing_col:
        dfName.loc[dfName.loc[:,i].isnull(),i]=round(dfName.loc[:,i].mean(), 2)

def imputeCategorical(dfName, colName):
    missing_col = [colName]
    #Technique 1: Using mean to impute the missing values
    for i in missing_col:
        dfName.loc[dfName.loc[:,i].isnull(),i]='Unknown'

In [6]:
imputeNumerical(traindf, 'Age')
imputeCategorical(traindf, 'Cabin')
imputeCategorical(traindf, 'Embarked')
imputeNumerical(testdf, 'Age')
imputeNumerical(testdf, 'Fare')
imputeCategorical(testdf, 'Cabin')

# Data engineering

We will now bunch the age variable into children, age 0-10, young adults (11-30), adults(31-50) and seniors 50+.
We will also bunch the cabin numbers into just the letter in front (ex cabin C85 becomes C, cabin B42 becomes B, etc).
Sex will be transformed to male=0, female=1

In [7]:
def dataEngineering(dfName):
    bins = pd.IntervalIndex.from_breaks([0, 10, 31, 51, np.inf], closed='left')
    dfName["AgeBin"] = pd.cut(dfName.Age.values, bins).codes

    # Transforming the cabin code to only show the letter of it (the first character in the string)
    dfName['CabinLetter'] = dfName['Cabin'].astype(str).str[0]

    # Sex, Cabin, Embarked to integer
    dfName.replace({'Sex': {'female': 0, 'male': 1}}, inplace=True)
    dfName.replace({'Embarked': {'S': 0, 'C': 1, 'Q' : 2, 'Unknown':3}}, inplace=True)
    dfName.replace({'CabinLetter': {'U':0, 'C':1, 'B':2, 'D':3, 'G':4, 'F':5, 'E':6, 'T':7, 'A':8}}, inplace=True)

In [8]:
dataEngineering(traindf)
dataEngineering(testdf)

These two functions below didn't work when implemented in dataEngineering so that is why they are out. Ask Danny how to put them back in

In [9]:
# We remove all the variables that cannot have any effect like Name and Ticket 
traindf = traindf.drop(columns = ['Name', 'Ticket','Cabin'])
testdf = testdf.drop(columns = ['Name', 'Ticket','Cabin'])

# We change PassengerID to be the index of the dataframe
traindf = traindf.set_index("PassengerId") 
testdf = testdf.set_index("PassengerId")

# Data normalization

Let's look at the unique values in each column to see which can be normalized

In [10]:
for col in testdf:
    print(col, traindf[col].unique())

Pclass [3 1 2]
Sex [1 0]
Age [22.   38.   26.   35.   29.7  54.    2.   27.   14.    4.   58.   20.
 39.   55.   31.   34.   15.   28.    8.   19.   40.   66.   42.   21.
 18.    3.    7.   49.   29.   65.   28.5   5.   11.   45.   17.   32.
 16.   25.    0.83 30.   33.   23.   24.   46.   59.   71.   37.   47.
 14.5  70.5  32.5  12.    9.   36.5  51.   55.5  40.5  44.    1.   61.
 56.   50.   36.   45.5  20.5  62.   41.   52.   63.   23.5   0.92 43.
 60.   10.   64.   13.   48.    0.75 53.   57.   80.   70.   24.5   6.
  0.67 30.5   0.42 34.5  74.  ]
SibSp [1 0 3 4 2 5 8]
Parch [0 1 2 5 3 4 6]
Fare [  7.25    71.2833   7.925   53.1      8.05     8.4583  51.8625  21.075
  11.1333  30.0708  16.7     26.55    31.275    7.8542  16.      29.125
  13.      18.       7.225   26.       8.0292  35.5     31.3875 263.
   7.8792   7.8958  27.7208 146.5208   7.75    10.5     82.1708  52.
   7.2292  11.2417   9.475   21.      41.5792  15.5     21.6792  17.8
  39.6875   7.8     76.7292  61.9792  27.75    46.9     80.      83.475
  27.9     15.2458   8.1583   8.6625  73.5     14.4542  56.4958   7.65
  29.      12.475    9.       9.5      7.7875  47.1     15.85    34.375
  61.175   20.575   34.6542  63.3583  23.      77.2875   8.6542   7.775
  24.15     9.825   14.4583 247.5208   7.1417  22.3583   6.975    7.05
  14.5     15.0458  26.2833   9.2167  79.2      6.75    11.5     36.75
   7.7958  12.525   66.6      7.3125  61.3792   7.7333  69.55    16.1
  15.75    20.525   55.      25.925   33.5     30.6958  25.4667  28.7125
   0.      15.05    39.      22.025   50.       8.4042   6.4958  10.4625
  18.7875  31.     113.275   27.      76.2917  90.       9.35    13.5
   7.55    26.25    12.275    7.125   52.5542  20.2125  86.5    512.3292
  79.65   153.4625 135.6333  19.5     29.7     77.9583  20.25    78.85
  91.0792  12.875    8.85   151.55    30.5     23.25    12.35   110.8833
 108.9     24.      56.9292  83.1583 262.375   14.     164.8667 134.5
   6.2375  57.9792  28.5    133.65    15.9      9.225   35.      75.25
  69.3     55.4417 211.5      4.0125 227.525   15.7417   7.7292  12.
 120.      12.65    18.75     6.8583  32.5      7.875   14.4     55.9
   8.1125  81.8583  19.2583  19.9667  89.1042  38.5      7.725   13.7917
   9.8375   7.0458   7.5208  12.2875   9.5875  49.5042  78.2667  15.1
   7.6292  22.525   26.2875  59.4      7.4958  34.0208  93.5    221.7792
 106.425   49.5     71.      13.8625   7.8292  39.6     17.4     51.4792
  26.3875  30.      40.125    8.7125  15.      33.      42.4     15.55
  65.      32.3208   7.0542   8.4333  25.5875   9.8417   8.1375  10.1708
 211.3375  57.      13.4167   7.7417   9.4833   7.7375   8.3625  23.45
  25.9292   8.6833   8.5167   7.8875  37.0042   6.45     6.95     8.3
   6.4375  39.4     14.1083  13.8583  50.4958   5.       9.8458  10.5167]
Embarked [0 1 2 3]
AgeBin [1 2 3 0]
CabinLetter [0 1 6 4 3 8 2 5 7]

We see that Fare and Age are the only ones that should be normalized. The rest have only few unique values

In [11]:
def scaleData(df): # A function to normalize only select columns ina  dataframe
    col_names = ['Age', 'Fare']
    features = df[col_names]
    scaler = preprocessing.StandardScaler().fit(features.values)
    features = scaler.transform(features.values)
    df[col_names] = features
# Ask Danny how to manke a function that has variable input. 
# Now are age and fare to be scaled but what if we need to omit fare or maybe add two more columns to be scaled?

In [12]:
scaleData(traindf)
scaleData(testdf)

# Logistic regression

For simplicity we will split the data in X and y

In [13]:
# Training data
X_train = traindf.drop(columns = 'Survived')
y_train = traindf[['Survived']].copy()

import statsmodels.api as sm
logit_model=sm.Logit(y_train,X_train)
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.447156
         Iterations 6
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.329
Dependent Variable: Survived         AIC:              814.8312
Date:               2021-10-07 14:30 BIC:              857.9623
No. Observations:   891              Log-Likelihood:   -398.42
Df Model:           8                LL-Null:          -593.33
Df Residuals:       882              LLR p-value:      2.8111e-79
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
------------------------------------------------------------------
              Coef.   Std.Err.     z      P>|z|    [0.025   0.975]
------------------------------------------------------------------
Pclass       -0.4820    0.1235   -3.9020  0.0001  -0.7242  -0.2399
Sex          -2.5310    0.1925  -13.1473  0.0000  -2.9084  -2.1537
Age          -1.3767    0.1883   -7.3110  0.0000  -1.7458  -1.0076
SibSp        -0.2866    0.1061   -2.7001  0.0069  -0.4946  -0.0786
Parch        -0.1140    0.1168   -0.9759  0.3291  -0.3430   0.1150
Fare          0.2844    0.1359    2.0937  0.0363   0.0182   0.5507
Embarked      0.4178    0.1391    3.0035  0.0027   0.1451   0.6904
AgeBin        1.4405    0.2150    6.7013  0.0000   1.0192   1.8618
CabinLetter   0.2355    0.0529    4.4476  0.0000   0.1317   0.3392
=================================================================

In [14]:
# Testing data
X_test = testdf
X_train = X_train.drop(columns='Parch') # Remove this as it is detrimental to the results

In [19]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

C:\Users\marjani\Anaconda3\envs\kaggle_titanic\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [16]:
X_test = X_test.drop(columns='Parch') # Remove the Parch column as the P-value is very high

In [17]:
y_test = logreg.predict(X_test)

In [18]:
X_test['Survived'] = y_test
sub = X_test
sub = sub[[ 'Survived']].copy() #Exract only the survived column as per the instructions
sub.to_csv('submission.csv') # create a csv file